# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#quartus
*.bak
Quartus\ Project/db/*
Quartus\ Project/incremental_db/*
Quartus\ Project/output_files/*
*.jdi
*.qsys_edit*


#temps
~$*.docx
*.swp

#ORCAD
*.DSNlck
